{% extends 'base.html' %}
{% block title %}
    Minha Clínica
{% endblock %}
{% block main %}
    <a href="{% url 'relat_pacientes' %}" role="button">Relatório dos Pacientes</a>
    <hr>
    <a href="{% url 'relat_pacientes_convenio' %}" role="button">Relatório dos Pacientes por Convênio</a>
    <a href="{% url 'relat_consultas' %}" role="button">Relatório das Consultas</a>
    <a href="{% url 'relat_pacientes_especialidade' %}" role="button">Relatório dos Pacientes por Especialidade</a>
    <hr>
    <a href="{% url 'graf_cons_conv' %}" role="button">Grafico de Consultas por Convenio</a>
{% endblock %}
