{% extends 'base.html' %}
{% block title %}
    Consultas e Especialidades
{% endblock %}
{% block main %}
    <table>
        <thead>
        <tr>
            <th>Mês</th>
            <th>Especialidade</th>
        </tr>
        </thead>
        <tbody>
        {% for mes, espec in consultas %}
            <tr>
                <td>{{ mes }}</td>
                <td>{{ espec }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'pdf_consultas' %}" role="button">Gerar PDF</a>
{% endblock %}