{% extends 'base.html' %}
{% block title %}
    Pacientes por Convênio
{% endblock %}
{% block main %}
    {% for conv, pacs in paconvs.items %}
        <table>
            <thead>
            <tr>
                <th colspan="2">{{ conv }}</th>
            </tr>
            </thead>
            <tbody>
            {% for nome, idade in pacs.items %}
                <tr>
                    <td>{{ nome }}</td>
                    <td>{{ idade }} anos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <a href="{% url 'pdf_pacientes_convenio' %}" role="button">Gerar PDF</a>
{% endblock %}