<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pacientes por Convênio</title>
</head>
<body>
    <h1>Relatório de Pacientes por Convênio</h1>
    {% for conv, pacs in paconvs.items %}
        <table style="border: black solid; padding: 3px">
            <thead>
            <tr>
                <th colspan="2">{{ conv }}</th>
            </tr>
            </thead>
            <tbody>
            {% for nome, idade in pacs.items %}
                <tr>
                    <td>{{ nome }}</td>
                    <td>{{ idade }} anos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% endfor %}
</body>
</html>